!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title LOL League Schedule

    %meta{name: 'HandheldFriendly', content: 'true'}
    %meta{name: 'viewport', content: 'width=device-width, height=device-height, user-scalable=no'}

    :css
      #{data.flat_map { |(league_name, league)| league['teams'].map { |(name, team)| ".#{league_name.gsub(' ', '-')}-#{name} { background-image: url(\"http://am-a.akamaihd.net/image/?f=#{team['logo']}&resize=50:50\"); }" } }.join("\n")}
      #{File.read('style.css')}

    :javascript
      #{File.read('moment.min.js')}
      #{File.read('js.js')}

    <!-- Page generated #{generated}, data file generated #{data_generated} -->
  %body
    #page-wrapper
      #menu.clearfix
        %button#select-current-week
          Current Week
        %button#select-future
          All Future
        %button#select-all
          All
        %input#filter{type: 'text', placeholder: 'Filter matches'}

      #leagues-wrapper
        #leagues-inner.clearfix
          - data.each_pair do |league_name, tournament|
            .leagues
              .header= league_name
              .matches
                - tournament['matches'].each do |match|
                  .match{class: "#{'games' if match['game_urls'].any?} #{match['vs'].join(' ')}", data: { urls: match['game_urls'].to_json }}
                    .time{data: { value: match['time'] }}
                    .vs<
                      %span.side<
                        %span.logo{class: "#{league_name.gsub(' ', '-')}-#{match['vs'].first}"}
                        = match['vs'].first
                      %span.middle< v
                      %span.side<
                        %span.logo{class: "#{league_name.gsub(' ', '-')}-#{match['vs'].last}"}
                        = match['vs'].last
    #modal
      %button#modal-close Close
      #modal-body

