!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title LOL League Schedule

    %meta{name: 'HandheldFriendly', content: 'true'}
    %meta{name: 'viewport', content: 'width=device-width, height=device-height, user-scalable=no'}

    :css
      #{File.read('icons.css')}
      #{File.read('style.css')}

    :javascript
      #{File.read('times.js')}
      #{File.read('js.js')}

    <!-- Page generated #{generated}, data file generated #{data_generated} -->
  %body
    #page-wrapper
      #menu.clearfix
        %button#select-current-week
          Current Week
        %button#select-future
          All Future
        %button#select-all
          All
        %input#filter{type: 'text', placeholder: 'Filter matches'}

      #leagues-wrapper
        #leagues-inner.clearfix
          - data.each_pair do |league_name, tournament|
            .leagues
              .header{class: "#{'live' if tournament['stream_url']}", data: { stream_url: tournament['stream_url'] }}
                - if tournament['stream_url']
                  %a.wrapper{href: 'javascript:;'}
                    %h1= league_name
                    %span.live-banner LIVE
                - else
                  .wrapper
                    %h1= league_name
              .matches
                - tournament['matches'].each do |match|
                  .match{class: "#{'live' if match['stream_url']} #{'games' if match['game_urls'].any?} #{match['vs'].join(' ')}", data: { urls: match['game_urls'].to_json, stream_url: match['stream_url'] }}
                    - content = capture_haml do
                      - if match['stream_url']
                        .live-banner LIVE
                      .time{data: { value: match['time'] }}
                      .vs<
                        %span.side<
                          %span.logo{class: "#{league_name.gsub(' ', '-')}-#{match['vs'].first}"}
                          = match['vs'].first
                        %span.middle< v
                        %span.side<
                          %span.logo{class: "#{league_name.gsub(' ', '-')}-#{match['vs'].last}"}
                          = match['vs'].last
                    - if match['stream_url'] || match['game_urls'].any?
                      %a.wrapper{href: 'javascript:;'}!= content
                    - else
                      .wrapper!= content
    #modal
      %button#modal-close Close
      #modal-body

