!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title LOL League Schedule

    %meta{name: 'HandheldFriendly', content: 'true'}
    %meta{name: 'viewport', content: 'width=device-width, height=device-height, user-scalable=no'}

    :css
      #{data.flat_map { |(league_name, league)| league['teams'].map { |(name, team)| ".#{league_name.gsub(' ', '-')}-#{name} { background-image: url(\"http://am-a.akamaihd.net/image/?f=#{team['logo']}&resize=50:50\"); }" } }.join("\n")}

      * {
        box-sizing: border-box;
      }

      body {
        margin: 0;
        padding: 8px;
      }

      body, button {
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        line-height: 1.4;
      }

      html, body, #page-wrapper, #leagues-wrapper, .leagues {
        height: 100%;
      }

      #menu {
        height: 50px;
      }

      #menu button {
        margin-right: 10px;
        font-size: 18px;
      }

      #menu button:last-child {
        margin-right: 0;
      }

      #leagues-wrapper {
        padding-top: 50px;
        margin-top: -50px;
      }

      #leagues-wrapper:after {
        content: " ";
        display: table;
        clear: both;
      }

      .leagues {
        display: flex;
        flex-direction: column;
        float: left;
        margin-right: 4px;
        margin-bottom: 8px;
        border: 1px solid #999;
      }

      #leagues-wrapper .leagues:last-child {
        margin-right: 0;
      }

      .matches {
        flex: 2;
        overflow: auto;
        width: 194px;
      }

      .header, .match {
        border-bottom: 2px solid #ddd;
        padding: 10px;
      }

      .header {
        flex: 0 1 auto;
        min-height: 50px;
        font-size: 30px;
        font-weight: bold;
        line-height: 50px;
        text-align: center;
        border-bottom: 2px solid #888;
      }

      .matches {
        background-color: #111;
        color: #fff;
      }

      .match {
        padding: 16px 6px;
        display: none;
      }

      .matches .match:last-child {
        border-bottom: none;
      }

      body.select-current-week .match.current-week {
        display: block;
      }

      body.select-current-week #select-current-week {
        font-weight: bold;
      }

      body.select-future .match.future {
        display: block;
      }

      body.select-future #select-future {
        font-weight: bold;
      }

      body.select-all .match {
        display: block;
      }

      body.select-all #select-all {
        font-weight: bold;
      }

      .match.past .time {
        color: #888;
      }

      .match.current {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100 */
        background: #45484d;
        background: linear-gradient(135deg,  #45484d 0%,#000000 100%);
      }

      .match.current .time {
        font-weight: bold;
      }

      .time {
        font-size: 18px;
        text-align: center;
        padding-bottom: 10px;
      }

      .vs {
        font-size: 20px;
        white-space: nowrap;
        text-align: center;
      }

      .vs .side {
        display: inline-block;
        vertical-align: middle;
        font-weight: bold;
      }

      .vs .side:first-child {
        text-align: right;
      }

      .vs .middle {
        display: inline-block;
        width: 18px;
        text-align: center;
        font-size: 14px;
        vertical-align: middle;
      }

      .logo {
        display: inline-block;
        background-size: cover;
        width: 26px;
        height: 26px;
        vertical-align: middle;
      }

    :javascript
      #{File.read('build/moment.min.js')}

    :javascript
      function parseTimes() {
        var now = moment();

        var times = document.querySelectorAll(".time");
        for(var i = 0; i < times.length; i++) {
          var time = moment(times[i].getAttribute('value'));

          var parts = [];
          parts.push(time.isSame(now, 'day') ? '[Today] ' : 'ddd D MMM ');
          parts.push((time.minutes() == 0) ? 'hA' : 'h:mmA');
          times[i].innerHTML = time.format(parts.join(''));

          var earlyStart = time.subtract(3, 'hours');
          var scheduledEnd = time.add(3, 'hours');

          var matchElement = times[i].parentNode;
          if(scheduledEnd.isBefore(now)) matchElement.classList.add("past");
          if(now.isSameOrAfter(earlyStart) && now.isSameOrBefore(scheduledEnd)) matchElement.classList.add("current");
          if(time.isSame(now, 'day')) matchElement.classList.add("today");
          if(time.isSame(now, 'week')) matchElement.classList.add("current-week");
          if(earlyStart.isSameOrAfter(now)) matchElement.classList.add("future");
        }
      }

      function selectCurrentWeek() {
        document.body.classList.remove("select-future");
        document.body.classList.remove("select-all");
        document.body.classList.add("select-current-week");
      }

      function selectFuture() {
        document.body.classList.remove("select-current-week");
        document.body.classList.remove("select-all");
        document.body.classList.add("select-future");
      }

      function selectAll() {
        document.body.classList.remove("select-future");
        document.body.classList.remove("select-current-week");
        document.body.classList.add("select-all");
      }

      document.addEventListener("DOMContentLoaded", function(event) {
        parseTimes();
        window.setInterval(parseTimes, 60000);

        document.getElementById('select-current-week').addEventListener("click", selectCurrentWeek);
        document.getElementById('select-future').addEventListener("click", selectFuture);
        document.getElementById('select-all').addEventListener("click", selectAll);
        selectCurrentWeek();
      });
  %body
    #page-wrapper
      #menu
        %button#select-current-week
          Current Week
        %button#select-future
          All Future
        %button#select-all
          All

      #leagues-wrapper
        - data.each_pair do |league_name, tournament|
          .leagues
            .header= league_name
            .matches
              - tournament['matches'].each do |match|
                .match
                  .time{value: match['time']}
                  .vs<
                    %span.side<
                      %span.logo{class: "#{league_name.gsub(' ', '-')}-#{match['vs'].first}"}
                      = match['vs'].first
                    %span.middle< v
                    %span.side<
                      %span.logo{class: "#{league_name.gsub(' ', '-')}-#{match['vs'].last}"}
                      = match['vs'].last
